<%- include header%>
<div class="container">
	<div class="jumbotron">
		<h1>我的第一个Bootstrap页面</h1>
		<p>重置窗口大小，查看响应式结果！</p>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>第一列</h3>
			<p>什么内容啊，什么鬼啊好的吧</p>
			<p>什么内容啊，什么鬼啊好的吧</p>
		</div>
		<div class="col-sm-4">
			<h3>第一列</h3>
			<p>什么内容啊，什么鬼啊好的吧</p>
			<p>什么内容啊，什么鬼啊好的吧</p>
		</div>
		<div class="col-sm-4">
			<h3>第一列</h3>
			<p>什么内容啊，什么鬼啊好的吧</p>
			<p>什么内容啊，什么鬼啊好的吧</p>
		</div>
	</div>
</div>

<%- include footer%>