<%- include header %>
	<div class="text-center page-title">用户登录</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<form method="post">
					<div class="form-group">
						<input type="text" class="form-control js-username" name="username" placeholder="用户名">
						<p class="js-alert js-username-alert" ></p>
					</div>
					<div class="form-group">
						<input type="password" class="form-control js-password" name="password" placeholder="密码">
					</div>
					<div class="alert alert-danger js-message" role="alert" style="padding: 6px 12px; display: none">...</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="weekly"> 一周内免登陆
							</label>
						</div>
					</div>
					<button type="submit" class="btn btn-default center-block">登录</button>
				</form>
			</div>
		</div>
	</div>
<%- include footer %>