.page-title {
    font-size: 20px;
}

.page-nav {
    padding: 10px;
    background-color: #ccc;
    margin-bottom: 30px;
}

.nav-username,
.nav-register,
.nav-login {
    margin: 0 10px;
}

.js-alert {
    margin-top: 5px;
    display: none;
    color: #a94442;
    padding-left: 6px;
}

.l-container {
    margin-top: 20px;

}

.l-input {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

header .dropdown {
    position: absolute;
    z-index: 9999;
    /*margin-top: -10px;*/
    padding-top: 0px;
    border-bottom: 1px solid #ddd;
}